nav {
  padding: 8px;
}

.logo {
  float: left;
  padding: 8px;
  margin-left: 16px;
  margin-top: 8px;

  a {
    color: color(white);
    letter-spacing: 1px;
    text-decoration: none;
  }

  @include desktop {
    padding: 8px;
  }
}

.nav-btn {
  position: fixed;
  right: 10px;
  top: 10px;
  display: block;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;

  i {
    display: block;
    width: 20px;
    height: 2px;
    background: color(white);
    border-radius: 2px;
    margin-left: 14px;
  }

  i:nth-child(1){
    margin-top: 16px;
  }
  i:nth-child(2){
    margin-top: 4px;
    opacity: 1;
  }
  i:nth-child(3){
    margin-top: 4px;
  }

  @include desktop {
    display: none;
  }
}

.nav-wrapper {
  position: fixed;
  width: 100%;
  height: 100%;
  background: color(primary);
  opacity: 0;
  transition: all 0.2s ease;

  @include desktop {
    opacity: 1;
    background: none;
  }

  ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-52%,-50%);
    width: 100%;

    @include desktop {
      top: 1.75%;
      left: 75%;
      width: 80%
    }

    li {
      width: 100%;
      text-align: center;
      margin-bottom: 50px;
      display: block;

      @include desktop {
        display: inline;
      }
    }
    a {
      padding: 10px 24px;
      color: color(white);
      text-decoration: none;
      font-size: 25px;
      transform: translateX(-20px);
      transition: all 0.2 ease;

      @include desktop {
        font-size: 14px;
      }
    }
    li:last-child {
      background-color: color(secondary);
    }
  }
}

#nav:checked + .nav-btn {
  transform: rotate(45deg);
  i {
    transition: transform 0.2 ease;
  }
  i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
  }
  i:nth-child(2) {
    opacity: 0;
  }
  i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
  }
}

#nav:checked ~ .nav-wrapper {
  opacity: 0.8;
  transform: translateX(0);
}

.hidden {
  display: none;
}
