$colors: (
  primary: #736fdf,
  secondary: #81d398,
  white: #fff
);

@function color($color-name) {
  @return map-get($colors, $color-name);
}

$desktop: 840px;

@mixin desktop {
  @media (min-width: #{$desktop}) {
    @content;
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  width: 100%;
  height: 100vh;

  #background {
    clip-path: polygon(0 0, 100% 0, 100% 65%, 0 85%);
    background-color: color(primary);
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -10;
  }
}

nav {
  padding: 8px;
}

.logo {
  float: left;
  padding: 8px;
  margin-left: 16px;
  margin-top: 8px;

  a {
    color: color(white);
    letter-spacing: 1px;
    text-decoration: none;
  }

  @include desktop {
    padding: 8px;
  }
}

.nav-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: color(primary);
  opacity: 0;
  transition: all 0.2s ease;

  ul {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-52%,-50%);
    width: 100%;

    li {
      display: block;
      width: 100%;
      float: none;
      text-align: center;
      margin-bottom: 10px;
    }
    a {
      padding: 10px 24px;
      color: color(white);
      text-decoration: none;
      font-size: 25px;
      transform: translateX(-20px);
      transition: all 0.2 ease;
    }
    li:nth-child(1) a {
      transition-delay: 0.2s
    }
    li:nth-child(2) a {
      transition-delay: 0.3s
    }
    li:nth-child(3) a {
      transition-delay: 0.4s
    }

  }
}


.nav-btn {
  position: fixed;
  right: 10px;
  top: 10px;
  display: block;
  width: 48px;
  height: 48px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;

  i {
    display: block;
    width: 20px;
    height: 2px;
    background: color(white);
    border-radius: 2px;
    margin-left: 14px;
  }

  i:nth-child(1){
    margin-top: 16px;
  }
  i:nth-child(2){
    margin-top: 4px;
    opacity: 1;
  }
  i:nth-child(3){
    margin-top: 4px;
  }
}

#nav:checked + .nav-btn {
  transform: rotate(45deg);
  i {
    transition: transform 0.2 ease;
  }
  i:nth-child(1) {
    transform: translateY(6px) rotate(180deg);
  }
  i:nth-child(2) {
    opacity: 0;
  }
  i:nth-child(3) {
    transform: translateY(-6px) rotate(90deg);
  }
}

#nav:checked ~ .nav-wrapper {
  opacity: 0.8;
  transform: translateX(0);
}

.hidden {
  display: none;
}
